<header class="site-header">
  <div class="container flex between vcenter">
    <a class="brand" href="/">{{ site.name }}</a>
    <nav class="nav">
      <a href="/">Home</a>
      <a href="/about/">About</a>
      <a href="/services/">Services</a>
      <a href="/blog/">Blog</a>
      <a class="btn" href="/contact/">Get a quote</a>
    </nav>
  </div>
</header>
